################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/Optica.Api/bin/Debug/net8.0
/src/Optica.Api/obj
/src/Optica.Application/bin/Debug/net8.0
/src/Optica.Application/obj
/src/Optica.Domain/bin/Debug/net8.0
/src/Optica.Domain/obj
/src/Optica.Infrastructure/bin/Debug/net8.0
/src/Optica.Infrastructure/obj
/.vs
/src/obj
/src/Opticsoft.Api/bin/Debug/net8.0
/src/Opticsoft.Api/obj
/src/Opticsoft.Application/bin/Debug/net8.0
/src/Opticsoft.Application/obj
/src/Opticsoft.Domain/bin/Debug/net8.0
/src/Opticsoft.Domain/obj
/src/Opticsoft.Infrastructure/bin/Debug/net8.0
/src/Opticsoft.Infrastructure/obj
/obj
/publish
/src/Opticsoft.Api/bin/Release/net8.0
/src/Opticsoft.Application/bin/Release/net8.0
/src/Opticsoft.Infrastructure/bin/Release/net8.0
/src/Opticsoft.Domain/bin/Release/net8.0
